
@{
    ViewData["Title"] = "ShowProducts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Product>
<h1>ShowProducts</h1>


<div class="card">
    <h5 class="card-header">Table Basic</h5>
    <div class="table-responsive text-nowrap">
        <table class="table col-12 col-sm-6 col-md-4 col-lg-3">
            <thead>
                <tr>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @{
                    foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/assets/images/@product.ImageName" style="height:50px;width:50px;border-radius:20px;" />
                            </td>
                            <td> <strong>@product.Name</strong></td>
                            <td> <strong>@product.description</strong></td>
                            <td> <strong>@product.price</strong></td>
                            <td> <strong>@product.qty</strong></td>
                            <td> <strong>@product.Category?.Cat_Name</strong>
                                <a href="@Url.Action("UpdateProduct", "Admin", new { id = product.CatID })">Update</a>
                                <a href="@Url.Action("DeleteProduct", "Admin", new { id = product.CatID })">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@{
    if (TempData["Message"] != null)
    {
        <script>
                    Swal.fire({
              title: "Category Deleted Successfully",
              text: "Deleted",
              icon: "success"
            });
        </script>
    }
}